Django==1.6
Pillow==2.8.1
PyJWT==1.3.0
ajaxuploader==0.3.8
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.20
celery==3.1.18
django-allauth==0.20.0
django-autocomplete-light==1.4.14
django-celery==3.1.16
django-common-helpers==0.7.0
-e git://github.com/maraujop/django-crispy-forms.git@c790055fa7e6810703599bc0124507133b8a55fc#egg=django_crispy_forms-dev
django-cron==0.4.1
django-crontab==0.6.0
django-datetime-widget==0.6
django-endless-pagination==2.0
django-multiupload==0.3
django-pagedown==0.1.0
django-smtp-ssl==1.0
-e git://github.com/omab/django-social-auth.git@699571a3b6d84aa2c25ffce59daa4c7f3559a0e4#egg=django_social_auth-origin/HEAD
gunicorn==19.3.0
httplib2==0.9.1
kombu==3.0.26
oauth2==1.5.211
oauthlib==0.7.2
python-openid==2.2.5
python-social-auth==0.2.1
pytz==2015.4
requests==2.7.0
requests-oauthlib==0.5.0
six==1.9.0
sorl-thumbnail==12.2
wsgiref==0.1.2
